@page
@model UserModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Http;
@{
    if (Model.user != null)
    {
        <div class="row m-3 align-items-center" style="margin-left:5%, margin-right:auto%">
            <div class="col-6 ">
                <h1 class="text-center mb-3">Profilo di Andrea!</h1>
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h3 class="card-title">Dati Utente</h3>
                        <h4 class="card-subtitle mb-2 text-muted">Nome : @Model.user.Name </h4>
                        <h5 class="card-subtitle mb-2 text-muted">Cognome : @Model.user.Surname </h5>
                        <h5 class="card-subtitle mb-2">Numero di Telefono : @Model.user.PhoneNumber </h5>
                        <h5 class="card-subtitle mb-2">Via : @Model.user.ResidentialAddress /h5>
                            <h5 class="card-subtitle mb-2">cf : @Model.user.FiscalCode</h5>
                    </div>
                </div>
            </div>
            <div class="col-6">
                @foreach (var item in Model.getLoanData)
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Title : @item.Book.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Autore : @item.Book.Author</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Genere : @item.Book.TypeOfBooks</h6>
                            <p class="card-text">Descrizione: @item.Book.Description</p>
                            <h6 class="card-subtitle mb-2 text-muted">ISBN: @item.Book.ISBN</h6>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-12">
            <table class="table">
            <thead>
            <th>Title</th>
            <th>Author</th>
            <th>Publishing House</th>
            <th>ISBN</th>
            <th>Data inizio Noleggio</th>
            <th>Data fine Noleggio</th>
            </thead>
                <tr>
                    <th scope="row">Divina Commedia</th>
                    <th scope="row">Dante Alighieri</th>
                    <th scope="row">Mondadori</th>
                    <th scope="row">1234567891234</th>
                    <th scope="row">15/03/2022</th>
                    <th scope="row">15/04/2022</th>
                </tr>
            <tr>
                <th scope="row">Divina Commedia</th>
                <th scope="row">Dante Alighieri</th>
                <th scope="row">Mondadori</th>
                <th scope="row">1234567891234</th>
                <th scope="row">15/03/2022</th>
                <th scope="row">15/04/2022</th>
            </tr>
            <tr>
                <th scope="row">Divina Commedia</th>
                <th scope="row">Dante Alighieri</th>
                <th scope="row">Mondadori</th>
                <th scope="row">1234567891234</th>
                <th scope="row">15/03/2022</th>
                <th scope="row">15/04/2022</th>
            </tr>
        </table>
    </div>
    }
}