@model IndexModel

@{

    string[] storeEmail = new string[100];
    int count = 0;
    foreach (var item2 in Model.getUserData)
    {

        storeEmail[count] = item2.Email;
        count++;
    }

    count = 0;

}
<div>
    <h1 class="text-center">Libri da Ordinare</h1>
    <div>
    <table class="table">
        <thead>
        <th>Title</th>
        <th>Author</th>
        <th>Publishing House</th>
        <th>ISBN</th>
        <th>Utente Richiedente</th>
        </thead>
            @foreach (var item in Model.getPurchaseQueueData)
            {
            <tr>
                <th scope="row">@item.Title</th>
                <th scope="row">@item.Author</th>
                <th scope="row">@item.PublishingHouse</th>
                <th scope="row">@item.ISBN</th>
                <th scope="row">@storeEmail[count]</th>
            </tr>
            count++;
            }
    </table>
    </div>

</div>